#images :hover{
    cursor: pointer;
    

}
.filter-sidebar {
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background-color: #FFFFFF;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid grey;
}

#images{
    top:10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 3%;
    border: 1px solid grey;
    width:100%;
   background-color: #FFFFFF;
   overflow: auto;
/* border: 1px solid red; */
   
}


#images img {
    margin-bottom: 20px;
    width: 80%;
    padding:20px;
}

#box2{
    display: flex;
   padding: 15px;
  gap: 5px;
  margin-left :10px;
  text-align: center;
}
hoverDiv{
    text-align: center;
    padding-left:20px;
}

.container {
    display: flex;
    flex-direction: row;
  }
  .filter-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 0;
    margin-right: 10px;
  }
  #image{
  flex-grow: 1;
    }
      .mine{
    display: flex;
}

.div1 {
    display: inline-block;
    margin-left:10px;
    margin-right:10px;
    text-align: center;
    padding: -10px;
  }
  
  .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .brand {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .type {
    margin-bottom: 5px;
  }
  
  .price {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .MP {
    color: #aaa;
    text-decoration: line-through;
    margin-bottom: 5px;
  }
  
  .off {
    color: green;
    font-weight: bold;
  }
  